<div class="form_item_block">
    <div class="checkbox_row">
        <input id="Masking2" type="checkbox" ng-model="Masking2" ng-init="Masking2 = Masking"
               ng-change="Masking = Masking2" ng-true-value="true" ng-false-value="false">
        <input id="specifytargets" type="hidden" ng-model="Masking" value="{{Masking}}">
        <label>Masking
        </label>
    </div>
</div>
<div class="form_item_block">
    <label>Demo
    </label>
    <input type="text" ng-model="Demo" ng-required="true">
    </input>
    <span class="form_error" ng-show="GOINPUTNAME[Demo].$error.server">{{ GOINPUTNAME[Demo].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Demo1
    </label>
    <input type="password" ng-model="Demo1" ng-required="true">
    </input>
    <span class="form_error" ng-show="GOINPUTNAME[Demo1].$error.server">{{ GOINPUTNAME[Demo1].$error.server }}</span>
</div>
